BASE_URL=https://your-target-environment.example.com
TEST_PHONE=09XXXXXXXX
CTV_TEST_PHONE=09YYYYYYYY
TEST_FULL_NAME=Your Name
TEST_OTP=000000
SIGNUP_TEST_DATA_CSV=resources/data/signup.csv
LOGIN_TEST_DATA_CSV=resources/data/login.csv
CTV_TEST_DATA_CSV=resources/data/ctv.csv
